.photos-right-content{
    display: flex;
    flex-wrap: wrap;
    
    background-color: #F8FAFC;
    .photos-middle-content{
        margin: 10px;
        width: 60vw; 
        margin-left: 260px;
        background-color: white;
        border-radius: 12px;
    }


}

@media screen and (max-width:500px){
    .photos-right-content{
        background-color: #F8FAFC;
        margin: 10px auto;
        width: 94vw;
        .photos-middle-content{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 0;                
        }
    
    
    }
}