.profile-right-content{
    display: flex;
    flex-wrap: wrap;
    background-color: #F8FAFC;
    .profile-content{
        margin: 10px;
        width: 60vw; 
        margin-left: 260px;


    }
    .rightbar{
        flex: 1;
    }


}

@media screen and (max-width:500px){
    .profile-right-content{
        background-color: #F8FAFC;
        .profile-content{
            width: 100vw;
            display: flex;
            flex-direction: column;
            margin: 0;                
        }
    
    
    }
}

@media screen and (max-width:768px){
    .profile-right-content{
        width: 100vw;
        padding: 20px;
        .profile-content{
            width: 94%;
            display: flex;
            margin-left: 0;
            flex-direction: column;
            margin: 10px auto;                
        }
    
    }
}