.main {
    margin-top: 88px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    // height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    .sidebar{
        // width: 20vw;
        position: fixed;
        // top: 88px; 
        left: 0;
    }
    .main-content{
        // width: 80vw;
        
        // margin: 10px;
        // padding: 20px;
    }
}

@media screen and (max-width:500px){
    .main {
        margin-top: 88px;
        flex-direction: column;
        gap: 10px;
        width: 100vw;
        .sidebar{
            display: none;
        }
       
    }
}